@tailwind base;
@tailwind components;
@tailwind utilities;


    @font-face {
      font-family: 'jet';
      src: url("../fonts/Graphik/JetBrainsMono-Bold.ttf") format("opentype");
      font-style: normal;
      font-display: swap;
    }

